.photo {
  height: 140px;
  margin-top: 10px;
}

.photo__img img {
  display: block;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.photos_label {
  word-break: break-all;
}
