.photo {
  padding: 10px;
}

.photo__data {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display:table;
  width: 100%;
}

.photo__view {
  height: 110px;
  border: 1px solid grey;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.photo__view img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.photo__like > img {
  padding-right: 5px;
}

.photo__like {
  padding-bottom: 5px;
  display: inline-block;
}

.photo__date {
  text-align: center;
}

.photos_label {
  word-break: break-all;
}

.pagination {
  text-align: center;
}

.photo__edit {
  float: right;
}
